<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Tale</title>
</head>
<body>
<h3>Edit Tale: </h3>
<form th:action="@{/admin/editTale}" method="post">
    <input type="hidden" name="id" th:field="*{tale.id}" th:value="${tale.id}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{tale.title}" required>
    <label for="content">Content:</label>
    <input type="text" id="content" name="content" th:field="*{tale.content}" required>
    <label for="content">Author:</label>
    <input type="text" id="author" name="author" th:field="*{tale.author}" required>
    <button type="submit">Save</button>
</form>
</body>
</html>