<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Tales</title>
</head>
<body>
<h1>Best Tales:</h1>
<ul>
    <li th:each="rating : ${ratings}">
        <span th:text="'Tale: ' + ${rating.tale.title}" th:style="${rating.likes > 100 ? 'color: green; font-weight: bold;' : 'color: red;  font-weight: bold;'}"></span>
        <span th:text="'Likes: ' + ${rating.likes}" th:style="${rating.likes > 100 ? 'color: green;' : 'color: red;'}"></span>
    </li>
</ul>
</body>
</html>
