<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite Tales</title>
</head>
<body>

<div th:switch="${tales.size()}">
    <div th:case="0">No tales in favorite</div>
    <div th:case="1">Favorite Tale:</div>
    <div th:case="*">Favorite Tales: </div>
</div>

<ul>
    <li th:each="tale : ${tales}">
        <span>Title: </span>
        <span th:text="${tale.title}"></span>
        <span>Text: </span>
        <span th:text="${tale.content}"></span>
        <span>Author: </span>
        <span th:text="${tale.author}"></span>
    </li>
</ul>
</body>
</html>
