<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tale</title>
</head>
<body>
<h2>Tale:</h2>
<h3 th:text="${tale.title}"></h3>
<div th:object="${tale}">
    <p><strong>Author:</strong>
        <span th:text="${tale.author}"></span>
    <p><strong>Content:</strong>
        <span th:text="${tale.content}"></span>
    <form th:action="@{/user/tale}" method="post">
        <label for="isRead">Read:</label>
        <input type="checkbox" id="isRead" name="isRead" th:checked="${user.isRead(tale.id)}">
        <label for="isLiked">Liked:</label>
        <input type="checkbox" id="isLiked" name="isLiked" th:checked="${user.isLiked(tale.id)}">
        <input type="hidden" name="id"  th:value="${tale.id}">
        <input type="hidden" name="title"  th:value="${tale.title}">
        <input type="hidden" name="author"  th:value="${tale.author}">
        <input type="hidden" name="content"  th:value="${tale.content}">
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>