<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add rating</h1>
<form th:action="@{/ratings/add}" method="post">
    <label for="id">Tale id:</label>
    <input type="number" id="id" name="id" th:field="*{rating.taleId}" required>
    <label for="likes">Likes:</label>
    <input type="number" id="likes" name="likes" th:field="*{rating.likes}" required>

    <label for="likes">Dislikes:</label>
    <input type="number" id="dislikes" name="dislikes" th:field="*{rating.dislikes}" required>

    <button type="submit">Add rating</button>
</form>
</body>
</html>