<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<h1>Tales List:</h1>
<form th:action="@{/admin/createTale}" method="get">
    <button type="submit">Create</button>
</form>
<ul>
    <li th:each="tale : ${tales}">
        <span>Title: </span>
        <span th:text="${tale.title}"></span>
        <span>Text: </span>
        <span th:text="${tale.content}"></span>
        <span>Author: </span>
        <span th:text="${tale.author}"></span>
        <form th:action="@{'/admin/editTale/' + ${tale.id}}" method="get">
            <button type="submit">Edit</button>
        </form>
        <form th:action="@{/admin/delete/{id}(id=${tale.id})}" method="post">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</body>
</html>>