<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tale: </h1>
<h3 th:text="${tale.title}"/>
<h3 th:text="${tale.year}"/>
<form th:action="@{/tales/editTale}" method="post">

    <input type="hidden" name="id" th:field="*{tale.id}" th:value="${tale.id}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{tale.title}" required>

    <label for="year">Year:</label>
    <input type="number" id="year" name="year" th:field="*{tale.year}" required>

    <button type="submit">Edit</button>
</form>
<form th:action="@{'/tales/delete/' + ${tale.id}}" method="post">
    <button type="submit">Delete</button>
</form>
</body>
</html>