<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tales List:</h1>
<ul>
    <li th:each="taleRating : ${talesRatings.entrySet()}">
        <span>Title: </span>
        <span th:text="${taleRating.key.title}">Title</span>
        <span>Year: </span>
        <span th:text="${taleRating.key.year}">Year</span>
        <span>Likes: </span>
        <span th:text="${taleRating.value.likes}">Likes</span>
        <span>Dislikes: </span>
        <span th:text="${taleRating.value.dislikes}">Dislikes</span>

    </li>
</ul>
<form th:action="@{/tales/add}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{tale.title}" required>

    <label for="year">Year:</label>
    <input type="number" id="year" name="year" th:field="*{tale.year}" required>

    <button type="submit">Create tale</button>
</form>
</body>
</html>